In [2]:
import pandas as pd

# Load the data from the Excel file again, specifying no header to properly identify the row
file_path = "Blank Forecast Template.xlsx"
# Load the data from the Excel file again, specifying no header to properly identify the row
data = pd.read_excel(file_path, sheet_name='CC X', header=None)

# List of variables to extract (in lower case)
variables_to_extract = [
    "secured", "probable", "possible", "speculative", "biso", "budget income",
    "other direct costs", "direct costs", "gross profit", "budget gross profit",
    "overheads", "subcon profit/(loss)", "net profit", "budget profit",
    "tech headcount", "income / hd", "cost / hd", "t&t staff costs",
    "contract staff costs", "expenses", "other direct costs", "t&t technical staff",
    "contract staff", "total headcount"
]

variables_to_extract = [var.strip().lower() for var in variables_to_extract]

# Initialize an empty dictionary to hold data for each variable
data_dict = {var: [] for var in variables_to_extract}

# Standardize the text by converting to lower case and stripping extra spaces
data_r = data.applymap(lambda x: x.strip().lower() if isinstance(x, str) else x)

# Extract data for these variables, maintaining row order
for index, row in data_r.iterrows():
    if row[5] in variables_to_extract:
        data_dict[row[5]].append(row[10:22].values)
    if row[6] in variables_to_extract:
        data_dict[row[6]].append(row[10:22].values)
    if row[7] in variables_to_extract:
        data_dict[row[7]].append(row[10:22].values)

# Combine data into a structured dataframe
extracted_data = pd.DataFrame()
for var in variables_to_extract:
    if data_dict[var]:
        extracted_data[var] = pd.Series(data_dict[var][0])

extracted_data.head()

,secured,probable,possible,speculative,biso,budget income,other direct costs,direct costs,gross profit,budget gross profit,...,budget profit,tech headcount,income / hd,cost / hd,t&t staff costs,contract staff costs,expenses,t&t technical staff,contract staff,total headcount
0,327.62628,NaN,NaN,NaN,0,327,-192.95897,-192.95897,134.66731,130.913071,...,89.350302,47.451436,82.853454,-48.79742,-168.91451,-19.2302,-4.81426,44.451436,3,47.451436
1,310.62415,NaN,NaN,NaN,0,335,-203.26208,-203.26208,107.36207,145.448787,...,102.983233,47.451436,78.553783,-51.402975,-172.2218,-24.3862,-6.65408,44.451436,3,47.451436
2,342.78931,NaN,NaN,NaN,0,339,-223.41445,-223.41445,119.37486,140.36377,...,96.231208,47.451436,86.688034,-56.49931,-187.51722,-32.4,-3.49723,44.451436,3,47.451436
3,359.12084,NaN,NaN,NaN,0,339,-241.03062,-241.03062,118.09022,92.033996,...,38.607935,46.451436,92.773237,-62.266481,-214.22328,-22.21,-4.59734,43.451436,3,46.451436
4,284.69204,NaN,NaN,NaN,0,348,-221.9465,-221.9465,62.74554,90.514258,...,36.951377,43.136436,79.197653,-61.742653,-198.26963,-18.7048,-4.97207,41.136436,2,43.136436

In [12]:
var_dict = {"budget income": "budget_income", "other direct costs": "other_direct_costs", "direct costs": "direct_costs","gross profit":"gross_profit","budget gross profit":"budget_profit","tech headcount":"tech_headcount","income / hd":"income/hd","cost / hd":"cost/hd","t&t staff costs":"t_staff_costs","contract staff costs": "contract_staff_costs","t&t technical staff":"t_technical_staff","contract staff":"contract_staff","total headcount":"total_headcount"}

In [9]:
len(variables_to_extract)

24

In [13]:
extracted_data.rename(columns=var_dict,inplace=True)

In [14]:
extracted_data

,secured,probable,possible,speculative,biso,budget_income,other_direct_costs,direct_costs,gross_profit,budget_profit,...,budget profit,tech_headcount,income/hd,cost/hd,t_staff_costs,contract_staff_costs,expenses,t_technical_staff,contract_staff,total_headcount
0,327.62628,NaN,NaN,NaN,0,327,-192.95897,-192.95897,134.66731,130.913071,...,89.350302,47.451436,82.853454,-48.79742,-168.91451,-19.2302,-4.81426,44.451436,3,47.451436
1,310.62415,NaN,NaN,NaN,0,335,-203.26208,-203.26208,107.36207,145.448787,...,102.983233,47.451436,78.553783,-51.402975,-172.2218,-24.3862,-6.65408,44.451436,3,47.451436
2,342.78931,NaN,NaN,NaN,0,339,-223.41445,-223.41445,119.37486,140.36377,...,96.231208,47.451436,86.688034,-56.49931,-187.51722,-32.4,-3.49723,44.451436,3,47.451436
3,359.12084,NaN,NaN,NaN,0,339,-241.03062,-241.03062,118.09022,92.033996,...,38.607935,46.451436,92.773237,-62.266481,-214.22328,-22.21,-4.59734,43.451436,3,46.451436
4,284.69204,NaN,NaN,NaN,0,348,-221.9465,-221.9465,62.74554,90.514258,...,36.951377,43.136436,79.197653,-61.742653,-198.26963,-18.7048,-4.97207,41.136436,2,43.136436
5,299.16854,NaN,NaN,NaN,0,364,-222.45408,-222.45408,76.71446,104.867842,...,51.688498,43.124168,83.248504,-61.90146,-197.02734,-19.362,-6.06474,41.124168,2,43.124168
6,270.88371,NaN,NaN,NaN,0,351,-284.78878,-284.78878,-13.90507,93.514258,...,36.342195,40.124168,81.013631,-85.172243,-262.28455,-17.43072,-5.07351,38.124168,2,40.124168
7,253.96615,NaN,NaN,NaN,0,354,-209.7019,-209.7019,44.26425,97.814258,...,37.756551,38.124168,79.938631,-66.005973,-190.89945,-16.81216,-1.99029,37.124168,1,38.124168
8,229.41306,NaN,NaN,NaN,0,335,-203.36116,-203.36116,26.0519,75.867842,...,18.269227,40.124168,68.610936,-60.819552,-189.6928,-10.244,-3.42436,39.124168,1,40.124168
9,281.66019,NaN,NaN,NaN,0,388,-196.91873,-196.91873,84.74146,129.514258,...,73.339473,40.124168,84.23657,-58.892804,-187.063,-11.04956,1.19383,39.124168,1,40.124168
10,284.4343,NaN,NaN,NaN,0,388,-198.16814,-198.16814,86.26616,129.414258,...,73.260015,38.124168,89.528816,-62.375596,-183.23806,-11,-3.93008,37.124168,1,38.124168
11,282.89593,NaN,NaN,NaN,0,399,-294.59603,-294.59603,-11.7001,147.000026,...,89.916423,40.124168,84.606145,-88.105313,-278.49883,-11.7729,-4.3243,39.124168,1,40.124168

In [3]:
import pandas as pd

def check_missing_values(df, exclude_column):
    # Create a boolean mask that ignores the specified column
    mask = df.drop(columns=[exclude_column]).isnull()

    # Check if there are any missing values in the mask
    has_missing = mask.any().any()

    # Get the rows that have missing values
    var_name = f"{file_path}_missing"
    globals()[var_name] = df[mask.any(axis=1)]

    return has_missing, rows_with_missing


exclude_column = 'Division'
has_missing, rows_with_missing = check_missing_values(data, exclude_column)

print(f"Dataframe has missing values (excluding '{exclude_column}'): {has_missing}")
print("Rows with missing values:")
print(rows_with_missing)

KeyError: "['Division'] not found in axis"